<div class="main">
  <div>
    <img src="../../assets/images/heartD.png" alt="Heart Image" />
  </div>
  <h1>Sign Up</h1>
  <div>
    <form [formGroup]="myForm">
      <mat-form-field class="input">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="username.invalid && username.touched"
          >Required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="password.invalid && password.touched"
          >Required</mat-error
        >
      </mat-form-field>
      <p *ngIf="wrongInput">Username Exists</p>
      <button primary mat-button (click)="signup()">Sign Up</button>
    </form>
  </div>
</div>
