.main {
  display: grid;
  justify-items: center;
  margin-top: 100px;
  img {
    height: 150px;
    width: 150px;
  }
  h1 {
    color: #ffd740;
  }
  form {
    .input {
      display: block;
    }
    button {
      display: block;
      margin-bottom: 10px;
      background-color: #ffd740;
    }
  }
}
